.samples__input_type_email {
  margin-bottom: 179px;
}

@media screen and (max-width: $tabletWidth) {
  .samples__input_type_email {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: $mobileWidth) {
  .samples__input_type_email {
    // width: 100%;
    margin-bottom: 60px;
  }
}
