.soda__label {
  background-image: url(../../../../../images/mango.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 22px;
  left: -127px;
  width: 220px;
  height: 220px;
}

@media screen and (max-width: $mobileWidth) {
  .soda__label {
    top: 176px;
    left: -5px;
    width: 125px;
    height: 125px;
  }
}
