.description__circle2 {
  width: 138px;
  height: 138px;
  border-radius: 50%;
  background-color: #FFDB00;
  border: 3px solid #1E3264;
  box-sizing: border-box;
  margin-top: 13px;
  margin-left: 45%;
}
