.header__imagearea {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: $tabletWidth)  {
  .header__imagearea {
    margin-bottom: 50px;
  }
}
