.header__textarea {
  align-self: flex-end;
}

@media screen and (max-width: $tabletWidth)  {
  .header__textarea {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: $mobileWidth)  {
  .header__textarea {
    align-self: flex-start;
  }
}
