.footer__logo-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: $forthFontColor;
}

@media screen and (max-width: $tabletWidth) {
  .footer__logo-text {
    font-size: 20px;
  }
}
