.footer__textarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 247px;
}

@media screen and (max-width: $tabletWidth) {
  .footer__textarea {
    margin-left: 0;
  }
}
