.samples__textinputarea {
  display: flex;
  flex-direction: row;
  column-gap: 13px;
  margin: 0 0 12px 0;
}

@media screen and (max-width: 767px) {
  .samples__textinputarea {
    flex-direction: column;
    margin: 0;
  }
}
