.header {
  background-color: $primaryColor;
  color: $primaryFontColor;
  width: 100%;
  min-height: 760px;
  overflow: hidden;
}

@media screen and (max-width: $mobileWidth) {
  .header {
    min-height: 515px;
  }
}
