.header__round {
  width: 565px;
  height: 565px;
  border-radius: 50%;
  background-color: #3530FF;
  opacity: 20%;
  position: absolute;
  top: -160px;
  right: -160px;
  overflow: hidden;
  z-index: 0;
}

@media screen and (max-width: $tabletWidth) {
  .header__round {
    display: none;
  }
}
