.header__label {
  background-image: url(../../../../images/pineapple.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 145px;
  height: 145px;
  right: -50px;
  bottom: -35px;
}

@media screen and (max-width: $tabletWidth)  {
  .header__label {
    right: 23px;
    bottom: 20px;
  }
}

@media screen and (max-width: $mobileWidth)  {
  .header__label {
    width: 95px;
    height: 95px;
    right: 8px;
    bottom: -42px;
  }
}
