.footer__lists {
  display: flex;
  column-gap: 145px;
}

@media screen and (max-width: $tabletWidth) {
  .footer__lists {
    column-gap: 96px;
  }
}


@media screen and (max-width: $mobileWidth) {
  .footer__lists {
    flex-direction: column;
  }
}
