.description__block {
  display: grid;
  padding: 90px 100px;
  color: $primaryFontColor;
  position: relative;
}

@media screen and (max-width: $tabletWidth) {
  .description__block {
    padding: 60px;
  }
}

@media screen and (max-width: $mobileWidth) {
  .description__block {
    padding: 20px;
  }
}
