$fontFamily: 'Inter', 'Arial', sans-serif;
$primaryColor: #9960F6;
$secondaryColor: #8556F8;
$thirdcolor: #CEF564;
$forthColor: #016450;
$footerColor:  #7A54F9;
$primaryFontColor: #fff;
$secondaryFontColor: #1E3264;
$thirdFontColor: #FFDB00;
$forthFontColor: #FFA72B;

$buttonsPrimaryColor: #FFDB00;
$buttonsSecondaryColor: #A27BFF;
$buttonsPrimaryFontColor: #1E3264;
$buttonsSecondaryFontColor: #FFF;
$buttonsPrimaryBorderColor: #1E3264;
$buttonsSecondaryBorderColor:#E1FD2C;

