.description__circle1 {
  width: 185px;
  height: 185px;
  border-radius: 50%;
  background-color: #E1FD2C;
  border: 3px solid #016450;
  margin-top: 37px;
  margin-left: 13%;
  box-sizing: border-box;
}
