.description__button {
  padding: 12px 21px;
  width: 163px;
  background-color: $buttonsPrimaryColor;
  color: $buttonsPrimaryFontColor;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.3;
  text-decoration: none;
  margin: 0;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: flex-end;
  box-sizing: border-box;
}

.description__button:hover {
  outline: 2px solid #1E3264;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: $tabletWidth) {
  .description__button {
    grid-row: 3/4;
    margin-top: 100px;
  }
}

@media screen and (max-width: 618px) {
  .description__button {
    grid-row: 3/4;
    margin-top: 60px;
  }
}
