.header__earth-image {
  background-image: url(../../../../../images/earth.svg);
  width: 169px;
  height: 169px;
  background-size: contain;
  position: absolute;
  top: 50px;
  right: 50px;
}

@media screen and (max-width: $tabletWidth)  {
  .header__earth-image {
    width: 128px;
    height: 128px;
    top: 40px;
    right: 50px;
  }
}

@media screen and (max-width: $mobileWidth)  {
  .header__earth-image {
    width: 94px;
    height: 94px;
    top: 20px;
    right: 20px;
  }
}
